
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.slider {
    position: relative;
    max-width: 600px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    border-right: 2px solid #f0f0f0; /* Separator effect */
}

.slide img {
    width: 100%;
    border-radius: 10px; /* Rounded corners for images */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow to images */
}

.slide.active {
    opacity: 1;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 15px;
    cursor: pointer;
    border-radius: 5px;
    user-select: none;
    transition: background-color 0.3s ease;
    z-index: 1; /* Ensure buttons are above images */
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

@media (max-width: 768px) {
    .prev, .next {
        padding: 10px;
    }
}
.background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-image: url("image/kidsback.jpg");
    background-repeat: no-repeat; 
    background-size: cover; 
    z-index: -1;
  }